.empImg {
  width: 180px;
  height: 100px;
  object-fit: scale-down;
}


/* styles.scss or component-specific CSS */

.chart-container {
  background-color: #ffffff; /* White background for the chart container */
  padding: 20px;
  border-radius: 12px; /* Rounded corners for the chart container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow around the chart */
  margin-bottom: 30px; /* Space below the chart */
}

/* Optional: Custom scrollbar for the chart container */
.chart-container::-webkit-scrollbar {
  width: 8px;
}

.chart-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.chart-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



// date CSS
